body {
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    display: flex;
    flex-direction: column;
}

img {
    width: 100px;
    length: 100px;
}

ul {

}

a {
    text-decoration: none;
    color: #E5E7EB;
}

.header {
    display: flex;
    justify-content: space-evenly;
    background-color: #1F2937;
}

.links {
    display: flex;
    gap: 18px;
    list-style-type: none;
    padding: 0;
    margin: 0;
    align-items: center;
}